* {
  margin: 0;
  text-decoration: none;
}


/* header settings */
header {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
a h1 {
  color: white;
  display: inline-block;
  margin-left: 15px;
}
h1 span {
  font-weight: lighter;
  padding-left: 5px;
}
h1::after {
  content: " ";
  display: block;
  background-color: grey;
  width: 187px;
  height: 10px;
  margin-top: -10px;
}
nav ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  list-style: none;
}
nav ul li a {
  padding: 3px 10px;
  margin: 0 25px;
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  border-bottom: 2px solid white;
  text-decoration: none;
}
nav ul li a:hover {
  border: 2px solid white;
}

/* hero settings */
.hero {
  background-color: lightsalmon;
  width: 100%;
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  background: (
    
    lightsalmon,
    white
  );
}
.welcome-bar {
  padding: 10px 20px;
  margin: 35px;
  background-color: black;
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.welcome-bar h2 {
  font-weight: lighter;
}
/* portfolio contents */
.portfolio-background {
  box-sizing: border-box;
  width: 100%;
}
.portfolio-grid-container {
  margin: 40px 30px 40px 0;
  display: grid;
  grid-template-columns: 0.7fr repeat(3, 1fr);
  grid-template-rows: 1fr 4fr 2fr 0.6fr;
  grid-gap: 20px;
}
.small-titles {
  font-size: 1.7rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-right: 5px solid ;
}
.about-me-content {
  grid-column: 2 / span 3;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}
.about-me-content p {
  padding-top: 10px;
}
.portfolio-title {
  grid-row: 2 / span 2;
}
.portfolio-large {
  background-image: ;
  background-size: cover;
  background-position: center;
  grid-column: span 3;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}
.portfolio-large h3 a,
.portfolio-med h3 {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: black;
  opacity: 0.6;
  font-size: 0.8rem;
  padding: 0.4em 1em;
}
.portfolio-large:hover,
.portfolio-med:hover {
  opacity: 0.5;
}

.brand-design {
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  text-transform: uppercase;
}
.brand-design h3 {
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: black;
  font-size: 0.8rem;
  padding: 0.4em 1em;
}
.brand-design:hover {
  opacity: 0.5;
}

.contact-me-title {
  grid-column: 1 / 2;
  grid-row: -2 / -1;
}
.contact-info {
  grid-row: -2 / -1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.small-titles,
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone::before {
  margin-right: 5px;
}
.email::before {
  margin-right: 5px;
}
.github a {
  color: black;
}
.github::before {
  margin-right: 5px;
}